<html>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://diffdapp.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
<link rel="stylesheet" href="style.css" type="text/css">
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="c in columns"
          @click="sortBy(c.k)"
          :class="{ active: sortKey == c.key }">
          {{ c.n }}
          <span class="arrow" :class="sortOrders[c.k] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
        <th v-if="action">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="c in columns">
          <span v-if="c.k=='dir'">
            <span v-if  ="entry[c.k]" style="color:orange  ;"> &#10224;  </span>
            <span v-else="entry[c.k]" style="color:orange  ;"> &#10225;  </span>
          </span>
          <span v-else-if="c.k=='result'">
            <span v-if  ="entry[c.k]" style="color:        ;"> Buyer     </span>
            <span v-else="entry[c.k]" style="color:        ;"> Creator   </span>
          </span>
          <span v-else-if="c.k=='creator'"> {{entry[c.k] | ethAddress }} </span>
          <span v-else-if="c.k=='buyer'"  > {{entry[c.k] | ethAddress }} </span>
          <span v-else>
            {{ entry[c.k]}} <span v-if="c.k=='stake'||c.k=='price'">ETC</span>
          </span>
        </td>
        <td v-if="action" v-on:click="buy(entry)"   ><button>Buy   </Button></td>
        <td v-if="action" v-on:click="cancel(entry)"><button>Cancel</Button></td>
      </tr>
    </tbody>
  </table>
</script>

<div id="app">

  <center>
    <span style="color:yellow"> &#9888; </span>
    <b style="color:red"> experimental alpha - use at your own risk </b>
    <span style="color:yellow"> &#9888; </span>
  </center>
  <center style="font-size: 100%;"> <img src="logo.svg" style="width:128px;     position: relative; left: -10px;" ></center>
  <center style="font-size: 300%;"> Difficulty Dapp</center>
  <center style="font-size: 200%;"> The right way to risk manage minning operations</center>
  
  <center style="font-size: 140%;" v-if="         adapter"> network {{adapter_name}} </center>
  <center style="font-size: 200%;"> <img :src="network_img"> </center>
  <center style="font-size: 140%;" v-if="         adapter"> block {{adapter_block}} difficulty {{adapter_diff}} </center>

  <center v-if="!unknown_adapter">                       contract address     </center>
  <center v-if="!unknown_adapter">                     {{contract_address}}   </center>
  <center v-if="!unknown_adapter"> <a href="source.sol"> contract source </a> </center>
  <!-- <center v-if="unknown_adapter" style="color:red">  Unsupported network. Network id is {{adapter}}.  </center> -->
  <!-- <center style="font-size: 200%;"> <button v-on:click="yo"> Refresh </button></center> -->
  </br>
  <center style="font-size: 140%;"> available networks </center>
  <center style="font-size: 200%;">
    <img src="ether.png"  />
    <img src="classic.png"/>
    <!-- <img src="ubiq.png"   /> -->
    <!-- <img src="akroma.png" /> -->
  </center>


  <h1> Open  </h1>
  
  <demo-grid
    :data="gridData"
    :columns="gridColumns"
    :filter-key="searchQuery"
     :action="action1"
     :action="action2"
     >
  </demo-grid>
  
  <h1> Open New  </h1>
    <div>
      <label>Target Block:</label> <input type="text" v-model="new_o.t_block" >
      <br/>
      <label>Target Difficulty:</label> <input type="text" v-model="new_o.t_diff" >
      <br/>
      <label>Direction</label> <input type="text" v-model="new_o.dir" > 0-down / 1-up
      <br/>
      <label>Stake</label> <input type="text" v-model="new_o.stake" > {{coin_abb}} ( 0.01 min )
      <br/>
      <label>Price</label> <input type="text" v-model="new_o.price" > {{coin_abb}} ( 0.01 min )
      <br/>
    </div>
    <blockquote>
      Statement:
      <br/>
      <blockquote>
        I am willing to <b>pay {{new_o.stake}} {{coin_abb}}</b> to whoever thinks that at <b>block number {{new_o.t_block}}</b> the difficulty
        will be <b>{{(new_o.dir==0)?'above':'below'}}</b> <b>{{new_o.t_diff}}</b>.
        <br/>
        He will <b>pay me {{new_o.price}} {{coin_abb}}</b> if the difficulty at <b>block number {{new_o.t_block}}</b> was <b>{{(new_o.dir==1)?'above':'below'}} or equel </b> to <b>{{new_o.t_diff}}</b>.
        <br/>
        <br/>
        <span style="font-size:80%">*** target block may vary by 10 blocks at resolution time *** </span>
        <br/>
        <br/>
        <button v-on:click="open_new"> Open New </button>
        <span style="font-size:80%"> service fee on resolution is 0.25% </span>
        <br/>
        <br/>
        <span style="font-size:80%"> no fee on cancellation </span>
      </blockquote>
    </blockquote>

  <hr/ >
  <h1>Awaiting Target Block</h1>
  <demo-grid
     :data="gridData2"
     :columns="gridColumns2"
     :filter-key="searchQuery"
     >
  </demo-grid>

  <h1>Resolved</h1>

  <demo-grid
     :data="gridData3"
     :columns="gridColumns3"
     :filter-key="searchQuery">
  </demo-grid>
  <hr/ >

  <h3 style="text-decoration: underline;"> Resolution Process</h3>
  <b>Decentralized : </b>
  <br/>
  <p>
  contract owners 0.125% 
  <br/>
  public resolver 0.125% 
  </p>
<p>
  in a time window of 10 blocks before and after the target block
  anyone can send a resolve command to the contract
  <br/>
  the resolution difficulty will be the difficulty of that specific block
</p>
  <br/>
&nbsp;
&nbsp;
  <b>Centralized : </b>
  <br/>
  <p>
   contract owners 0.25% 
   </p>
<p>
  In case no one from the public has resolved the contract in the provided time frame ( 20 blocks ) 
  <br/>
  we ( the contact owners ) will resolve with the precise difficulty that was on the target block
  
</p>

<h3 style="text-decoration: underline;"> Basic guide</h3>
<b>Miner : </b>
<br/>
  <p>
    Assuming you are minning
    <input class="i-short" type="number" v-model.number="guide.power" >
    Eth every
    <input class="i-short" type="number" v-model.number="guide.time_delta" > months
    with the current difficulty.
    <br/>
    in <b> {{guide.time_delta*2}}  months </b>
      you'll have  <b> {{guide.power *2 }} eth </b> if the difficulty doesn't change.
    <br/>
    <br/>
    Total income: <b> {{(guide.power*2)}} eth. </b>
    <br/>
    <br/>
    Now, let's assume that after 
     <b> {{guide.time_delta}}  months </b> 
    the difficulty rises by 
    <input class="i-short" type="number" v-model.number="guide.diff_up" > %
    making your mining power be <b> {{guide.power*(100-guide.diff_up)/100}} eth </b>.
    <br/>
    At the end of <b> {{guide.time_delta*2}}  months </b> 
    you'll have <b> {{(guide.power*((100-guide.diff_up)/100))+guide.power}} eth.</b>
    <br/>
    <br/>
    Total income: <b> {{(guide.power+(guide.power*(100-guide.diff_up)/100))}} eth. </b>
    <br/>
    A loss of <b> {{guide.power-(guide.power*(100-guide.diff_up)/100)}}  eth.</b>
    <br/>
 </br>
    <br/>
    to reduce your loss in such a situation you can decentralizly lock  
    <input class="i-short" type="number" v-model.number="guide.stake" > eth
    for <b> {{guide.time_delta}} months</b> in the diff dapp contract
    and ask back 
    <input class="i-short" type="number" v-model.number="guide.price" > eth.
    <br/>
    <br/>
    If difficulty rises after <b> {{guide.time_delta}}  months </b>  you get <b> {{ guide.price+guide.stake}} eth </b> ( lock + price ).
    <br/>
    Total income: <b> {{(guide.power+(guide.power*(100-guide.diff_up)/100)+guide.price)}} eth. </b>
    <br/>
    A loss of only <b> {{(guide.power-(guide.power*(100-guide.diff_up)/100))-guide.price}} eth </b> instead of <b> {{guide.power-(guide.power*(100-guide.diff_up)/100)}}  eth.</b>
    <br/>
    <br/>
    If difficulty does not rise after <b> {{guide.time_delta}}  months.</b> 
    <br/>
    Total income: <b> {{(guide.power*2)-guide.stake}} eth. </b>
    <br/>
    A loss of <b> {{guide.stake}}  eth</b> ( the lock ).
    <br/>

    <br/>
    <br/>
    You have succefully stabilized your eth mining for an anticipated future difficulty change. 

    <!-- ( as long as no HODLER took up your offer you are free to cancel without any fee ) -->
  </p>
  <b>HODLer :</b>
  <br/>
  <p>
    Ico season is over 
    <br/>
    kitties are passe
    <br/>
    whats there for a HODLER to do?
    <br/>
    <br/>
    Why not decentralizly lock some ether in the diff dapp contract to gain a small interest on your hodlings?
    <br/>
    <br/>
    Of course there is a small risk to lose it all.
    <br/>
    <br/>
    the miner above offers a <b> {{guide.stake/guide.price*100}}</b> % on your ether in <b>{{guide.time_delta}} months</b>.
    <br/>
    Open up your Black Scholes model and check if it's worth it.
    <br/>
     
  </p>

  <hr/>
  <center style="font-size:200%;text-decoration: underline;">miner</center>
  <center style="font-size:200%;">+</center>
  <center style="font-size:200%;text-decoration: underline;">hodler</center>
  <center style="font-size:200%;">=</center>
  <center style="font-size:200%;"> stabilization of economy from difficulty changes </center>
  <hr/>
  <br/>


</div>

  <br/>
  <br/>
  <br/>

  <center style="font-size:200%;text-decoration: underline;"> Roadmap </center>
  <br/>
  <br/>
  <center style="font-size:140%"> <b> &alpha; </b> </center>
  <br/>
  <center> functional mainnet prototype </center>
  <center><b> done </b></center>
  <br/>
  <br/>
  <center><b style="font-size:140%">  &beta; </b> </center>
  <br/>
  <center> add support for more coins </center>
  <center> gas performance audit of contract </center>
  <center> security audit of contract </center>
  <br/>
  <br/>
  <center><b style="font-size:140%"> &gamma; </b></center>
  <br/>
  <center> miner risk calculator based on <a href="a2-60.pdf">Grain Price Hedging</a></center>
  <center> graph visualization of data </center>
  <br/>
  <br/>
  <center><b style="font-size:140%"> &delta;  </b></center>
  <br/>
  <center> new implementation of difficulty contract using <a href="https://nipopows.com">nipopow</a>
                                         on a target non smart-contract blockchain ( i.e. bitcoin ) </center>
  <center> new implementation of difficulty contract using crypto-conditions on supported blockchains </center>


  <br/>
  <br/>
  <br/>
<h3 style="text-decoration: underline;">
  Adding networks to metamask
</h3>
  Add a custom RPC to metamask with chain id * url
<br/>
<span style="font-size:75%"> ( make sure no spaces are at the beginning and end - metamask does not like spaces ) </span>
  <p>

   classic  <img class="list-icon" src="classic.png"/> 61 * <span>https://etc-geth.0xinfra.com</span><br/>
   <span style="font-size:80%">( Classic must be opened on different link : <a href="classic.html">Classic</a> )   </span>
   <br/>
   ubiq &nbsp; &nbsp;
   <img class="list-icon" src="ubiq.png"/>    88 * https://rpc1.ubiqscan.io<br/>
   <span style="font-size:80%">( really metamask? i get 'invalid sender'  )   </span>
   <br/>
   akroma &nbsp;
   <img class="list-icon" src="akroma.png"/>  200625 * https://remote.akroma.io<br/>
   <span style="font-size:80%">( really metamask? i get 'invalid sender'  )   </span>
   <br/>

  </p>
  <br/>


  <center style="font-size: 140%;"> <b> contact </b> </center>
  <center style="font-size: 100%;">
    <a href="mailto:diffdapp@protonmail.com"><img src="email.png"/></a>
    <a href="https://t.me/joinchat/BVlcPxRztlufIuyiOYxoPg"><img src="telegram-xs.png"/></a>
  </center>
  <center style="font-size: 100%;">  </center>



  <br/>
  <center>
    <span style="color:yellow"> &#9888; </span>
    <b style="color:red"> experimental alpha - use at your own risk </b>
    <span style="color:yellow"> &#9888; </span>
  </center>






  <script src="vue.js"> </script>
  <script src="web3.min.js" type="text/javascript"></script>
  <script src="classic.js"></script>


</html>


