@font-face { font-family: pdark; src: url('f.ttf'); }
@font-face {
    font-family: "Langdon";
    font-style: normal;
    font-weight: 100;
    src: url("fonts/langdon-cufonfonts-webfont/Langdon.woff") format('woff');
}

body {
    font-family: Langdon;
    text-transform: uppercase;
    background-color:black;
    color:white;
}
button {
    background-color: black;
    color: white;
    font-family: Langdon;
    text-transform: uppercase;
    font-weight: bold;
}
input {
    width: 92px;
    background-color: black;
    padding: 0px 2px;
    text-align:right;
    color: white;
    font-family: Langdon;
    text-transform: uppercase;
    font-weight: bold;
}
.box {
    border: 1px dashed salmon;
    position: absolute;
    font-weight:bold;
}
td {
    text-align: center;
    padding-left:10px;
    padding-right:10px;
}
table{
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}
label{
    width: 140px;
    display: inline-block;
    margin-bottom:7px;
}
form{
    margin-left:50px;
}
p{
    padding-left:120px;
    font-size: 90%;
}
.list-icon{
    top: 10px;
    position: relative;
}
a:link {
    color: yellow;
}

/* visited link */
a:visited {
    color: orange;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

.i-short{
    width:60px;
    text-align:center;
}
