<html>
<!-- Matomo -->
<script type="text/javascript">
</script>
<!-- End Matomo Code -->
<link rel="stylesheet" href="style.css" type="text/css">

<div id="app">

  <center style="font-size: 100%;">
    <img src="log2.png" style="width:128px;     position: relative; left: -10px;" >
    <img src="log1.png" style="width:128px;     position: relative; left: -10px;" >
    <img src="log2.png" style="width:128px;     position: relative; left: -10px;" >
  </center>
  <center style="font-size: 300%;"> SUP</center>
  <center style="font-size: 100%;"> you control the </center>
  <center style="font-size: 300%;"> PUL</center>
  <center style="font-size: 300%;">  Y </center>
  
  </br>
 <br/>
 <center style="font-size: 150%;"> your balance:{{balance}}</center>
 <center style="font-size: 150%;"> total supply:{{supply}}</center>
<br/>
 <center style="font-size: 150%;"> your share :{{100* balance/supply}}%</center>
 <center style="font-size: 100%;"> supply under 0.01 % cannot participate</center>

 <br/>
 <br/>
 <center style="font-size: 250%;">
   <button style="font-size: 100%;" v-on:click="changeA" v-bind:class="classy" > {{removeOrAdd}}  {{burn}}%  Supply</button>
   <br/>
 <span style="font-size: 30%;">(click to change)</span>
  </br>
  </br>

   <!-- <span>Picked: {{ removeOrAdd }}</span> -->
 </center>


 <center style="font-size: 150%;"> how much:
   <input type="range" min="1" max="61.8" value="1" type="number" step="0.01" class="slider" id="myRange" v-model="burn" @change="burnChange" />
   {{burn}}%
 </center>
 <br/>
 <center style="font-size: 150%;"> it will cost you :balance * 0.01% * {{burn}}</center>
 <center style="font-size: 150%;"> it will cost you :{{0.01*balance*(burn/61.8)}} SUP</center>

 </center>
  <br/>
 <center style="font-size: 350%;"> 
   <button style="font-size: 100%;" v-on:click="doit"> DO IT </button>
 </center>
  <br/>
  <hr/>
   <span style="font-size: 200%;" v-on:click="doit"> the rules </span>
   </br>
   <li> 1. A change of supplies can happen only every 33 block.</li>
   <li> 2. Only wallets with higher then 0.01% of total supply can participate.</li>
   <li> 3. Change of supply is between 1% and 61.8% .</li>
   <li> 4. Cost is 0.01% of your balance multiplied by your chosen amount .</li>
  <br/>

  <!-- <center style="font-size: 140%;" v-if="         adapter"> network {{adapter_name}} </center> -->
  <center style="font-size: 200%;"> <img :src="network_img"> </center>
  <center style="font-size: 140%;" v-if="         adapter"> block {{adapter_block}}  </center>

  <center v-if="!unknown_adapter">                       contract address     </center>
  <center v-if="!unknown_adapter">                     {{contract_address}}   </center>
  <center v-if="!unknown_adapter"> <a href="source.sol"> contract source </a> </center>
  <!-- <center v-if="unknown_adapter" style="color:red">  Unsupported network. Network id is {{adapter}}.  </center> -->
  <!-- <center style="font-size: 200%;"> <button v-on:click="yo"> Refresh </button></center> -->

  <br/>
  <br/>
  <center style="font-size: 140%;"> <b> contact </b> </center>
  <center style="font-size: 100%;">
    <a href="mailto:diffdapp@protonmail.com"><img src="email.png"/></a>
    <a href="https://t.me/joinchat/BVlcPxRztlufIuyiOYxoPg"><img src="telegram-xs.png"/></a>
  </center>
  <center style="font-size: 100%;">  </center>



  <br/>
  <center>
    <span style="color:yellow"> &#9888; </span>
    <b style="color:red"> experimental alpha - use at your own risk </b>
    <span style="color:yellow"> &#9888; </span>
  </center>




</div>

  <script src="vue.js"> </script>
  <script src="web3.min.js" type="text/javascript"></script>
  <script src="app2.js"></script>


</html>



